<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <table border>
        <thead>
            <tr>
                <th>Info</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Username</th>
                <th>{{username}}</th>
            </tr>
            <tr>
                <th>Password</th>
                <th>{{password}}</th>
            </tr>
            <tr>
                <th>Email</th>
                <th>{{email}}</th>
            </tr>
            <tr>
                <th>Mobile</th>
                <th>{{mobile}}</th>
            </tr>
            <tr>
                <th>Address</th>
                <th>{{address}}</th>
            </tr>
        </tbody>
    </table>
</body>
</html>